.item {
	display: grid;
	justify-content: center;
	align-items: center;
	border: 5px solid rgba(0, 0, 0, 0.03);
	border-radius: 3px;
	font-size: 35px;
	background-color: #00000050;
	color: white;
}

.item p {
	margin: 0 0 5px 0;
}

.container {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: 150px 150px 100px;
	grid-template-areas: 'logo content nav' 'logo content nav' 'footer footer footer';
}

.logo {
	grid-area: logo;
}

.content {
	grid-area: content;
}

.nav {
	grid-area: nav;
}

.footer {
	grid-area: footer;
}

@media (max-width: 700px) {
	.container {
		grid-template-areas: 'logo nav nav' 'content content content' 'footer footer footer';
	}
}
